.wraper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: grid;
  place-items: center;

  div {
    width: 100%;
    color: var(--text-primary);
    text-align: center;
    svg {
      height: 30%;
      width: 30%;
      max-width: 300px;
      animation: spin 2s linear infinite;
      opacity: 0.8;
    }

    h1 {
      font-size: 3rem;
      margin-top: 2rem;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
