<footer class="footer">
  <div class="footer-copyright">
    <p>© 2023 Lukas Dev. All rights reserved.</p>
  </div>
  <div class="footer-links">
    <a href="mailto:lukas.rodrigues.dev@gmail.com" target="_blank"
      ><i-feather name="mail"></i-feather
    ></a>
    <a href="https://www.linkedin.com/in/lukas-rodrigues/" target="_blank"
      ><i-feather name="linkedin"></i-feather
    ></a>
    <a href="https://github.com/lukasqw" target="_blank"
      ><i-feather name="github"></i-feather
    ></a>
  </div>
</footer>
